################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
[Dd]ebug/
[Rr]elease/
project.lock.json
.vs/